/*Media below 600 px*/
@media (max-width: 600px) {
    .main-manu {
        display: none;
    }
}
/*****************Backgrounds********************/
html ,
body {
    font: 100%  'Source Sans Pro' , sans-serif;
}

.main-section {
    background-image: url(../images/other/homepage-featured-new-1920x745.jpg);
    background-size: contain;
    height: 745px;
    background-repeat: no-repeat;
    text-align: center;
}
 h1 {
    font-size: 1.3rem;
}
 h2 {
    font-size:4rem;
   
}
.enhance {
    background-image:  url(../images/other/ic_EI_cloud_2_home_page.png)
                        ,url(../images/other/home-tv-service-bg1.png);
}
.deploy {
    background-image: url(../images/other/ic-stb-screens.png) ,
                       url(../images/other/home-tv-service-bg2.png);
}
.tv {
    background-image: url(../images/other/screen_whos_on.jpg );
    background-repeat: no-repeat;
    background-size: 850px;
    background-position:  100% 5%;
}
.schedual-meeting {
    background-image: url(../images/other/img-event-IBC.jpg);
    width: 292px;
    height: 117px;
    background-repeat: no-repeat;
    background-position: right 0 top 30px;
    background-repeat: no-repeat;
}
.demo {
    background-image: url(../images/other/screen_demo.jpg);
    background-repeat: no-repeat;
}
/********************blog*******************/
.experience {
    background: url(../images/blog/ibc_post_EI-750x508.png) no-repeat 50% 0;
}
.what-we-leared {
    background: url(../images/blog/IMG_9294-750x563.jpeg) no-repeat 30% 0;
}
.big-data {
    background-image: url(../images/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg);
    background-repeat: no-repeat;
}
.infusion {
    background: url(../images/blog/post_tv_connect-750x508.jpeg) no-repeat 50% 0;
}
.quality {
    background: url(../images/blog/post_quality-750x508.jpeg) no-repeat 50% 60%;

}

/*******************Actual page*******************/
li {
    list-style: none;
}


a:link {
    text-decoration: none;
    color: #f14848;
}
 a:visited {
    color: #7a7a7a;
}
 a:focus    {
     color: #f14848;
     outline: none;
 }
 a:hover {
    color: #f14848;
}

 .selected {
     color: #f14848;
     font-weight: bold;
 }
 .tv {
     height: 690px;
 }
aside li {
    width: 16.6%;
    height: 400px;
    display: block ;
}
.site-footer {
    background-color: #1E2024;
}
.site-footer > ul > li > a {
    color: rgb(255,255,255);
}
.buttom-bar {
    background: #151515;
    color: #7a7a7a;
}

.buttom-bar  a  {
    font-weight: bold;
    color: rgb(99, 99, 99);
}
.buttom-bar a:hover,
            a:active {
    color: rgb(255,255,255);
}
