@media (min-width: 701px) {

  nav {
    float: right;
    margin-right: 10px;

  }


  .main-manu li {
    float: left;
  }

  .main-manu a {
    padding: 0 10px;
  }

  nav > ul a {
    line-height: 66px;
    display: inline-block;

  }

  .deep-manu ul, .deep-manu li, .sub-manu ul, .sub-manu li {
    padding: 0;
    margin: 0;
  }

  .sub-manu, .deep-manu {
    font-size: 2.7rem;
    text-align: center;
    padding-left: 0;
    background-color: #FFFFFF;

  }

  .sub-manu, .deep-manu {
    width: 100%;
    height: 140px;
    opacity: 0;

  }
  .sub-manu {
    position: absolute;
    left:0;
    bottom: 0;

  }
  .deep-manu {
    position: absolute;
    left:0;
    bottom: 0;
  }

  .sub-manu li {
    width: 33.33333%;
    float: left;

  }

  .deep-manu li {
    width: 50%;
    float: left;
  }

  .sub-manu a {
    display: block;
    padding: 0;
    line-height: 140px;
  }

  .sub-manu span {
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;

  }


  .main-manu li:hover .sub-manu  {
    transform: translateY(140px);
    opacity: 0.8;
  }

  /*.sub-manu  li:hover  .deep-manu {*/
    /*transform: translateY(140px);*/
    /*opacity: 0.95;*/

  /*}*/


  .main-manu .selected {
    color: #f14848;
    font-weight: bold;
  }
}
