@media (min-width: 701px) {

  /*header {*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*}*/

  nav * {
    margin: 0;
    padding: 0
  }

  a.logo {
    display: none;
  }
  nav {
    position: relative;
    height: 66px;
    background-color: white;
    display: flex;
  }
  nav li.logo {
    flex-grow: 1;

  }

  nav ul, li {
    display: block;
    height: 100%;
  }
  nav ul ul {
    height: 130px;

  }

  nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
  }
  nav >ul >li {
    padding-right: 20px;
  }

  nav li {
    display: inline-block;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav > ul > li > ul {
    display: flex;
    position: absolute;
    left:0;
    top: 65px;
    width: 100vw;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.2s;
    background-color: rgba(255 , 255 , 255 , 0.95);
    /*z-index: 0;*/

  }
  nav ul ul li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  nav li:hover > ul {
    transform: scale(1, 1);

  }
  nav ul ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: scale(1, 0);
    transition: transform 0.2s;
    background-color: rgba(255 , 255 , 255 , 0.8);
    transform-origin: top;
    display: flex;
    flex-grow: 1;
  }

}
